body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #da13c9;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.hamburger {
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        margin: 10px auto;
    }

    nav.active {
        display: block;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (min-width: 769px) {
    nav {
        display: block;
    }
}

footer {
    background: #f1f1f1;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
